html,
body{

    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background:url(/assets/images/login_bg.jpg) no-repeat center ;
    background-size: cover;
    overflow: scroll;
    overflow-y: hidden;
    overflow-x: hidden;
    
    
}

.loginAndRegBox{
    width: 400px;
    height: 310px;
    background-color: rgb(63, 119, 232);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50% , -50%);
    border-radius: 20px;
}
.title-box{

    height: 60px;
    background: url(/assets/images/login_title.png ) no-repeat center;
}

.reg-box{
    display: none;
    
}
.layui-form{
        padding: 0 30px;
}
.link_right{
    display: flex;
    justify-content: end;
}
.layui-form-item{
    position: relative;
   
}
.layui-icon{
    position: absolute;
    left: 10px;
    top: 10px;
}
.layui-input{
    padding-left: 34px;
}
.mgtop{
    margin-top: 25px;
     
}